<nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand ps-5">Buscar proyecto</a>
    <form class="form-inline me-5">
        <select name="state" class="form-select mb-1" aria-label="Default select example">
            <option value="" selected>Abre este menu</option>
            <option value="propuesta">Propuesta</option>
            <option value="en_progreso">En progreso</option>
            <option value="terminado">Terminado</option>
        </select>
        <button class="btn btn-outline-light my-3 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>

<div class="container py-4">
    <table class="table table-striped">
        <tr class="table-primary">
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado del proyecto</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de finalización</th>
        </tr>
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td><%= project.state %></td>
                <td><%= project.startdate %></td>
                <td><%= project.finishdate %></td>
            </tr>
        <% end %>
    </table>
</div>
